/* ABOUT PAGE */
.about-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aboutme{
  background-position: auto;
  background-attachment: scroll;
  background-size: cover;
}
.aboutme-profile,
.about-welcoming-text,
.aboutme-main-profile{
  text-align: center;
    
}
.aboutimage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.about-col{
  color: #fff;
  line-height: 3rem;
  flex-basis: 31%;
  background: #6200ee;
  border-radius: 10px;
  margin: 0 0;
  padding: 1.5rem 1.8rem;
  box-sizing: border-box;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
}
.about-col:hover{
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
.about-col:nth-child(1){
  margin: 0 0 0 0.7rem;
  animation: moveFromBottom 1s normal;
}
.about-col:nth-child(3){
  animation: moveFromTop 1s normal;
}
.about-col:nth-child(5){
  animation: moveFromBottom 1s normal;
}
/* END OF ABOUT PAGE */

@keyframes moveFromBottom{
  from{transform: translateY(1000px)}
  to{transform: translateY(0px);}
}
@keyframes moveFromTop{
  from{transform: translateY(-1000px)}
  to{
    transform: translateY(0px);
  }
}
