/* CONTACT ME PAGE */
.contact{
  background: white;
  background-repeat: no-repeat;
  background-attachment: scroll;

}
.contactme-col{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#contactMe{
  text-align: center;
  margin-top: 10px;
}
.contactme-image-container{
  margin-top: 40px;
  margin-left: 40px;
}
.contactme-picture{
  width: 240px;
}

.Details{
  font-size: 15px;
  margin-top: 60px; 
}
.contactme-form{
  margin-top: 60px;
  margin-right: 30px;
}
.reachme-image{
  margin-left: 360px;
}
/* END OF CONTACT ME PAGE */