@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Roboto:wght@500&display=swap');
/* CONTACT ME PAGE */
.contact{
  background-color: #7725ea;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: cover;
  color: #feffff;
  font-family: "Montserrat", sans-serif;
<<<<<<< HEAD
  padding: 0 0 5% 0;
=======
  padding: 0 0 7% 0;
>>>>>>> 398e0ba1d3759bde9f46fa769304d6fa87e4a1d6
}
.contactme-col{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}
#contactMe{
  text-align: center;
  margin-top: 10px;
}
.contactme-image-container{
  margin-top: 40px;
  margin-left: 40px;
}
.contactme-picture{
  width: 240px;
}
.Details{
  font-size: 15px;
  line-height: 3rem;
}
<<<<<<< HEAD
.contactme-form{
  margin: 5rem;
}
=======
>>>>>>> 398e0ba1d3759bde9f46fa769304d6fa87e4a1d6
.contactme-form input{
  font: inherit;
  padding: 0.5rem 2rem;
  outline: none;
  width: 85%;
}
.contactme-form button{
  font: inherit;
  background-color: #6200ee;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 7px;
  cursor: pointer;
}
.reachme-image{
  margin-left: 360px;
}
/* END OF CONTACT ME PAGE */