/* MY SKILLS PAGE */
.skills{
  margin: auto;
  text-align: center;
}
.skills-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
}
.skills-rows{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.first-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin-bottom: 20px;
}
.second-columns{
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
}
.skills-picture{
  object-fit: cover;
  object-position: center;
  width: 225px;
  height: 225px;
}
.html-pic,.css-pic,.bootstrap-pic,.angular-pic,.javascript-pic,.c-programming-pic{
  width: 300px;
  border-radius: 8px;
  background-color: #f3f1f1;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.html-pic:hover,.css-pic:hover,.bootstrap-pic:hover,.angular-pic:hover,.javascript-pic:hover,.c-programming-pic:hover{
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);

}

/* END OF MY SKILLS PAGE */
